.option-dropdown {
    width: 100%;
}

.option-toggle {
    width: 100%;
    border: #dee2e6 solid 1px;
    color: black;
    font-size: large;
}

.option-toggle:hover {
    width: 100%;
    border: #dee2e6 solid 1px;
    color: black;
    font-size: large;
}

.option-toggle:focus {
    width: 100%;
    border: #dee2e6 solid 1px;
    color: black;
    font-size: large;
}

.option-check {
    width: 100%;
    font-size: larger;
    margin-left: 5%;
}

.form-check-input {
    outline: #dee2e6 solid 1px;
}