.title-home {
    font-size: 60px;
    margin: 2% 0 2% 0;
}

.nav-card {
    margin: 5%;
    cursor: pointer;
}

.nav-btn {
    font-size: x-large;
    position: relative;
    top: 45%;
    border: none;
}