.footer {
    padding: 1% 0 1% 0;
    width: 100%;
    bottom: 0;
    position: sticky;
}

.pill {
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    border: none;
}

.green:hover {
    background-color: #347c00;
}

.green:focus {
    background-color: #347c00;
}

.blue:hover {
    background-color: #21648d;
}

.blue:focus {
    background-color: #21648d;
}