body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin-top {
  margin-top: 2%;
}

.date-input {
  cursor: pointer;
}

.date-input:hover {
  background-color: #c6c7c8;
}

.pill {
  width: 25%;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.text-align-center {
  text-align: center;
}

.dark-theme {
  background-color: #212529;
  color: white;
}

.blue {
  background-color: #2D82B7;
}

.green {
  background-color: #45A300;
}
